<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col-sm-12 col-md-4">
    <ion-card class="card-principal">
      <ion-card-content>

        <div class="titulo">
          <h2><b>Seus meios de pagamento</b></h2>
          <div class="line"></div>
        </div>

        <div style="text-align: center;">
          <ion-button ion-item color="secondary" fill="solid" shape="round" size="medium"
            (click)="irPara('novo-vinculo')">
            Adicionar meio de pagamento
          </ion-button>
          <br>
        </div>

        <hr>

        <ion-segment (ionChange)="mudarAba($event)" color="secondary" [(ngModel)]="abaSelecionada">
          <ion-segment-button value="contas">
            <ion-label>Contas bancárias</ion-label>
          </ion-segment-button>
          <ion-segment-button value="cartoes">
            <ion-label>Cartões de crédito</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div *ngIf="abaSelecionada == 'contas'">
          <ion-row>
            <ion-col size="12">
              <ion-card style="margin: 0 auto;">
                <ion-card-content style="padding: 0;">
                  <ion-row>
                    <ion-col size="3">
                      <ion-avatar>
                        <ion-img src="assets/imgs/itau.png" class="avatar"></ion-img>
                      </ion-avatar>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                        <h3>Conta 12345-6</h3>
                      </ion-row>
                      <ion-row>
                        <ion-text>Itaú</ion-text>
                      </ion-row>
                      <ion-row>
                        <ion-text>Adicionado em: 21/01/2020</ion-text>
                      </ion-row>
                    </ion-col>
                    <ion-col size="3">
                      <ion-button ion-item color="danger" fill="clear" shape="round" size="small"
                        style="font-size: 9px;">
                        Excluir
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-card style="margin: 0 auto;">
                <ion-card-content style="padding: 0;">
                  <ion-row>
                    <ion-col size="3">
                      <ion-avatar>
                        <ion-img src="assets/imgs/nubank.png" class="avatar"></ion-img>
                      </ion-avatar>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                        <h3>Conta 98765-4</h3>
                      </ion-row>
                      <ion-row>
                        <ion-text>Nubank</ion-text>
                      </ion-row>
                      <ion-row>
                        <ion-text>Adicionado em: 10/04/2020</ion-text>
                      </ion-row>
                    </ion-col>
                    <ion-col size="3">
                      <ion-button ion-item color="danger" fill="clear" shape="round" size="small"
                        style="font-size: 9px;">
                        Excluir
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="abaSelecionada == 'cartoes'">
          <ion-row>
            <ion-col size="12">
              <ion-card style="margin: 0 auto;">
                <ion-card-content style="padding: 0;">
                  <ion-row>
                    <ion-col size="3">
                      <ion-avatar>
                        <ion-img src="assets/imgs/visa.png" class="avatar"></ion-img>
                      </ion-avatar>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                        <h3>Terminado em 1234</h3>
                      </ion-row>
                      <ion-row>
                        <ion-text>Visa</ion-text>
                      </ion-row>
                      <ion-row>
                        <ion-text>Adicionado em: 10/01/2020</ion-text>
                      </ion-row>
                    </ion-col>
                    <ion-col size="3">
                      <ion-button ion-item color="danger" fill="clear" shape="round" size="small"
                        style="font-size: 9px;">
                        Excluir
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-card style="margin: 0 auto;">
                <ion-card-content style="padding: 0;">
                  <ion-row>
                    <ion-col size="3">
                      <ion-avatar>
                        <ion-img src="assets/imgs/visa.png" class="avatar"></ion-img>
                      </ion-avatar>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                        <h3>Terminado em 4561</h3>
                      </ion-row>
                      <ion-row>
                        <ion-text>Nubank</ion-text>
                      </ion-row>
                      <ion-row>
                        <ion-text>Adicionado em: 12/05/2020</ion-text>
                      </ion-row>
                    </ion-col>
                    <ion-col size="3">
                      <ion-button ion-item color="danger" fill="clear" shape="round" size="small"
                        style="font-size: 9px;">
                        Excluir
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>