ion-content {
    --background: #2a2360;

    h2 {
        font-size: 22px;
        color: #2a2360;
    }

    ion-label {
        margin: 0 auto;
        word-break: break-word;
        white-space: break-spaces;
        text-align: left;
        letter-spacing: 0px;
        color: #2a2360;
        opacity: 1;
        padding-left: 15px;
    }

    ion-input,
    ion-select {
        background-color: #eeeeee;
        color: black;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 20px;
        margin-bottom: 1em;
    }

    div.select-icon {
        margin-right: 10px !important;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
    }

    .list-md {
        background: transparent;
    }

    input.native-input.sc-ion-input-md {
        padding-left: 1em !important;
        margin-left: 1em !important;
    }

    .card-responsavel {
        box-shadow: none;
        background-color: #eeeeee;
        color: #2a2360;
        margin: 1em 0;
    }

    .lembrete {
        text-align: center;
        color: #2a2360;
        padding: 1em;
    }
}
