<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col-sm-12 col-md-4">
    <ion-card class="card-principal">
      <ion-card-content>

        <div class="titulo">
          <h2><b>Escolha uma simulação e continue para análise de crédito</b></h2>
          <p>Simulamos as melhores taxa e número de prestações para você! As condições do empréstimo podem mudar após a
            Análise de Crédito</p>
          <div class="line"></div>
        </div>

        <ion-row>
          <ion-col size="12">
            <ion-card style="margin: 0 auto;">
              <ion-card-content style="padding: 0;">
                <ion-row>
                  <ion-col size="3">
                    <ion-avatar>
                      <ion-img src="assets/imgs/nubank.png" class="avatar"></ion-img>
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row>
                      <h2>48x R$240,00</h2>
                    </ion-row>
                    <ion-row>
                      <ion-text>Taxa de Juros</ion-text>
                    </ion-row>
                    <ion-row>
                      <ion-text><b>2,09% a.m.</b></ion-text>
                    </ion-row>
                  </ion-col>
                  <ion-col size="3" style="font-size: 12px;">
                    <ion-row>Valor Simulado</ion-row>
                    <ion-row>R$ 10.000,00</ion-row>
                    <ion-button ion-item color="secondary" fill="outline" shape="round" size="small"
                      style="font-size: 9px;">
                      Escolher
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-card style="margin: 0 auto;">
              <ion-card-content style="padding: 0;">
                <ion-row>
                  <ion-col size="3">
                    <ion-avatar>
                      <ion-img src="assets/imgs/bb.png" class="avatar"></ion-img>
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row>
                      <h2>48x R$250,00</h2>
                    </ion-row>
                    <ion-row>
                      <ion-text>Taxa de Juros</ion-text>
                    </ion-row>
                    <ion-row>
                      <ion-text><b>3,41% a.m.</b></ion-text>
                    </ion-row>
                  </ion-col>
                  <ion-col size="3" style="font-size: 12px;">
                    <ion-row>Valor Simulado</ion-row>
                    <ion-row>R$ 10.000,00</ion-row>
                    <ion-button ion-item color="secondary" fill="outline" shape="round" size="small"
                      style="font-size: 9px;">
                      Escolher
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-card style="margin: 0 auto;">
              <ion-card-content style="padding: 0;">
                <ion-row>
                  <ion-col size="3">
                    <ion-avatar>
                      <ion-img src="assets/imgs/itau.png" class="avatar"></ion-img>
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row>
                      <h2>48x R$300,00</h2>
                    </ion-row>
                    <ion-row>
                      <ion-text>Taxa de Juros</ion-text>
                    </ion-row>
                    <ion-row>
                      <ion-text><b>4,00% a.m.</b></ion-text>
                    </ion-row>
                  </ion-col>
                  <ion-col size="3" style="font-size: 12px;">
                    <ion-row>Valor Simulado</ion-row>
                    <ion-row>R$ 10.000,00</ion-row>
                    <ion-button ion-item color="secondary" fill="outline" shape="round" size="small"
                      style="font-size: 9px;">
                      Escolher
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>