ion-content {
    --background: #2a2360;

    h2 {
        font-size: 26px;
        color: #2a2360;
    }

    h3 {
        font-size: 18px;
        color: #2a2360;
    }

    ion-title {
        text-align: center !important;
    }

    ion-card-content {
        padding: 1em;
    }

    .icone-chart {
        font-size: 68px;
        text-align: center;
    }

    .icone-metas {
        font-size: 18px;
        text-align: center;
    }

    .icone-extrato {
        border-radius: 3px;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .card-metas {
        text-align: center;
        min-height: 100px;
    }

    .categoria-principal {
        border: 1px solid #2a2360;
        border-radius: 8px;
        text-align: center;
        font-size: 15px;
        letter-spacing: 0px;
        color: #2a2360;
        text-transform: uppercase;
        padding: 2px;
        opacity: 1;
        width: 60px;
    }

    .categoria {
        border: 1px solid #2a2360;
        border-radius: 8px;
        text-align: center;
        font-size: 10px;
        letter-spacing: 0px;
        color: #2a2360;
        text-transform: uppercase;
        padding: 2px;
        opacity: 1;
    }

    .line-card {
        border: 1px solid #eeeeee;
        opacity: 1;
    }

    .btnVer {
        float: right;
        font-size: 10px;
    }

    .btnNovaMeta {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
