ion-content {
    ion-avatar {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 60px;
    }

    .icone-menu {
        width: 45px;
        margin: 0 auto;
    }

    .icone-menu2 {
        height: 45px;
        margin: 0 auto;
    }

    .card-menu {
        text-align: center;
        height: 90px;
    }

    .avatar {
        margin: 20px auto;
        width: 100px;
        height: 100px;
    }

    .lbl-avatar {
        margin: 0 auto;
        font-size: 18px;
        color: #2a2360;
    }

    .p-avatar {
        margin: 0 auto;
        color: lightgray;
    }
}
