<ion-header class="ion-no-border" translucent="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="moverMenu()">
                <ion-icon name="menu-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="irPara('novo-vinculo')">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="secondary" size="medium" style="text-align: center;"><b>KEPMA</b></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="card-principal">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        <canvas #chartTotalConta></canvas>
                        <p style="text-align: center;">75%</p>
                    </ion-col>
                    <ion-col size="8">
                        <p style="font-size: 20px;">Saldo das suas contas</p>
                        <h2><b>R$18.000,00</b></h2>
                        <p>Valor referente a todos os seus gastos de cartões e contas na última hora.</p>
                    </ion-col>
                </ion-row>

                <!-- Insights -->
                <ion-row style="padding-left: 10px;">
                    <h3>Insights</h3>
                </ion-row>
                <ion-row style="padding-left: 10px;">
                    <p>Veja os resultados das suas metas</p>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-card class="card-insights">
                            <ion-card-content>
                                <p><b>Diminua seus gasto com o cartão Nubank.</b></p>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-card class="card-insights">
                            <ion-card-content>
                                <p><b>Não utilize o cheque especial.</b></p>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card class="card-insights">
                            <ion-card-content>
                                <p><b>Você possui débitos acima dos ganhos.</b></p>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-card class="card-insights">
                            <ion-card-content>
                                <p><b>Que tal uma nova simulação?</b></p>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>

                <!-- Metas -->
                <ion-row style="padding-left: 10px;">
                    <h3>Minhas metas</h3>
                </ion-row>
                <ion-row style="padding-left: 10px;">
                    <p>Veja os resultados das suas metas</p>
                </ion-row>

                <ion-row>
                    <ion-col size="6">
                        <ion-card class="card-metas">
                            <ion-card-content>
                                <ion-row>
                                    <ion-col size="9">
                                        <canvas #chartMeta1></canvas>
                                        <p>75%</p>
                                    </ion-col>
                                    <ion-col size="2">
                                        <ion-icon name="star-outline" class="icone-metas"></ion-icon>
                                    </ion-col>
                                    <ion-col size="1">
                                        <ion-icon name="ellipsis-vertical-outline" class="icone-metas"></ion-icon>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <p class="categoria">Casal</p>
                                </ion-row>
                                <ion-row>
                                    <h3>R$40.000,00</h3>
                                </ion-row>
                                <ion-row>
                                    <p>Festa de casamento</p>
                                </ion-row>

                                <div class="line-card"></div>

                                <ion-row style="padding-top: 10px;">
                                    <ion-col size="1">
                                        <ion-icon name="calendar-outline" class="icone-metas"></ion-icon>
                                    </ion-col>
                                    <ion-col size="8">
                                        <ion-text>3 meses</ion-text>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-button ion-item color="primary" fill="solid" shape="round" size="small"
                                            class="btnVer">
                                            Ver
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="6">
                        <ion-card class="card-metas">
                            <ion-card-content>
                                <ion-row>
                                    <ion-col size="9">
                                        <canvas #chartMeta2></canvas>
                                        <p>50%</p>
                                    </ion-col>
                                    <ion-col size="2">
                                        <ion-icon name="star-outline" class="icone-metas"></ion-icon>
                                    </ion-col>
                                    <ion-col size="1">
                                        <ion-icon name="ellipsis-vertical-outline" class="icone-metas"></ion-icon>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <p class="categoria">Familia</p>
                                </ion-row>
                                <ion-row>
                                    <h3>R$8.000,00</h3>
                                </ion-row>
                                <ion-row>
                                    <p>Reforma da cozinha</p>
                                </ion-row>

                                <div class="line-card"></div>

                                <ion-row style="padding-top: 10px;">
                                    <ion-col size="1">
                                        <ion-icon name="calendar-outline" class="icone-metas"></ion-icon>
                                    </ion-col>
                                    <ion-col size="8">
                                        <ion-text>24 dias</ion-text>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-button ion-item color="primary" fill="solid" shape="round" size="small"
                                            class="btnVer">
                                            Ver
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>

                <!-- Extrato -->
                <ion-row style="padding-left: 10px;">
                    <h3>Meu extrato</h3>
                </ion-row>
                <ion-row style="padding-left: 10px;">
                    <p>Gestão financeira dos seus gastos.</p>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-card style="margin: 0;">
                            <ion-card-content style="padding: 0;">
                                <ion-row>
                                    <ion-col size="2">
                                        <div class="div-extrato-credito">
                                            <ion-img src="assets/imgs/coin.png" class="icone-extrato"></ion-img>
                                        </div>
                                    </ion-col>
                                    <ion-col size="8">
                                        <p class="acao-extrato">Depósito | <b>R$590,00</b></p>
                                        <p><b>Nubank</b> | 23/03/2020</p>
                                    </ion-col>
                                    <ion-col size="2" class="seta-extrato">
                                        <ion-icon name="chevron-forward-outline"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-card style="margin: 0;">
                            <ion-card-content style="padding: 0;">
                                <ion-row>
                                    <ion-col size="2">
                                        <div class="div-extrato-debito">
                                            <ion-img src="assets/imgs/money.png" class="icone-extrato"></ion-img>
                                        </div>
                                    </ion-col>
                                    <ion-col size="8">
                                        <p class="acao-extrato">Saque | <b>R$-290,00</b></p>
                                        <p><b>Nubank</b> | 21/03/2020</p>
                                    </ion-col>
                                    <ion-col size="2" class="seta-extrato">
                                        <ion-icon name="chevron-forward-outline"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-card style="margin: 0;">
                            <ion-card-content style="padding: 0;">
                                <ion-row>
                                    <ion-col size="2">
                                        <div class="div-extrato-credito">
                                            <ion-img src="assets/imgs/coin.png" class="icone-extrato"></ion-img>
                                        </div>
                                    </ion-col>
                                    <ion-col size="8">
                                        <p class="acao-extrato">Depósito | <b>R$100,00</b></p>
                                        <p><b>Nubank</b> | 10/03/2020</p>
                                    </ion-col>
                                    <ion-col size="2" class="seta-extrato">
                                        <ion-icon name="chevron-forward-outline"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>


            </ion-grid>

        </ion-card-content>
    </ion-card>

</ion-content>